html {
    margin:0;
    padding:0;
}
body {
    margin: 0 auto;
    padding:0;
    background: #F4F4F4;
    width:50%;
    min-width: 500px;
    display:block;
    
}
header {
    width: 50%;
    min-width: 500px;
    height: 285px;
    background: #6943FF;
    box-sizing: border-box;
    margin:0;
    padding:20px 0;
    display:block;
    margin:0 auto;
}
h1 {
    color:white;
    text-align: center
}
input {
    width: 117px;
    height: 83px;
    margin:0 auto;
    display:block;
    border: 2px solid #B295FF;
    border-radius: 5px;
    text-align: center;
    font-size:3rem;
}
button {
    width: 117px;
    height: 42px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin:10px auto 0;
    border:none;
    display:block;
}
ul {
    list-style: none;
    margin:0;
    padding:0;
}
ul li {
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    display:block;
    margin:20px;
    padding:20px;
    box-sizing: border-box;
    text-align: center
}
p {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #5A537B;
}
span {
    color: #353535;
    font-size:14px
}